[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.16.1"
djangorestframework-simplejwt = "==5.5.1"
django-cors-headers = "==4.9.0"
python-decouple = "==3.8"
pillow = "==12.1.1"
django = "==5.1.7"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.14"
